* {
  font-family: "sourceCode", "Arial Narrow", Arial, sans-serif;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btn-pagination {
  text-decoration: underline;
}
p {
  margin-left: 5%;
}
