body {
  background-color: $dark-color;
  color: $light-color;
  transition: background-color ease-out 1s;
}
.light-theme {
  background-color: $light-color;
  color: $dark-color;
  transition: background-color ease-out 1s;
  .bg-light-color {
    background-color: $dark-color;
  }
  .bg-dark-color {
    background-color: $light-color;
  }
  .dark-color {
    color: $light-color;
  }
  .light-color {
    color: $dark-color;
  }

  .bg-dark-table-color {
    background: $light-table-color;
  }

  .bg-light-table-color {
    background: $dark-table-color;
  }

  .border-light {
    border-color: $dark-color !important;
  }
}
